<div id="content" class="content animated fadeIn" ng-controller="StrategyListCtrl">
    <ol class="breadcrumb pull-right">
        <li class="active">{{title}}</li>
    </ol>
    <h1 class="page-header">{{title}}</h1>
    <div class="col-md-3 w-md-3 p-5"
         ng-repeat="strategy in strategies|filter:trade_filter| orderObjectBy:\'name\':false">
        <div class="panel-1 b-color">
            <div class="panel-heading"><h4 class="panel-title span-a">{{ strategy.name }}
                <span class="pull-right label" ui-sref="app.strategy.detail({strategy_id: strategy.strategy_id})">
                    <a>详情</a>
                </span>
            </h4></div>
            <div class="panel-footer text-center">
                <div class="row">
                    <div class="col-md-7">
                        <div flotchart="" style="height:150px" options="options" data="strategy.trends"></div>
                    </div>
                    <div class="col-md-5">
                        <ul class="list-unstyled">
                            <li>盈亏：{{strategy.indicators.pnl.value | number:2|available}}</li>
                            <li>权益：{{strategy.indicators.nav.value | number:2|available}}</li>
                            <li>绝对收益：{{strategy.indicators.profit_ratio.value | number:2|available}}</li>
                            <li>年化收益：{{strategy.indicators.annual_return.value | number:2|available}} %</li>
                            <li>胜率：{{strategy.indicators.win_ratio.value | number:2}} %</li>
                            <li>风险比率：{{strategy.indicators.risk_ratio.value | number:2}} %</li>
                            <li>最大回撤：{{strategy.indicators.max_drawdown.value | number:2 |available}} %</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 p-r-5 p-l-5"
                         ng-class="{\'t-color\': strategy.running_status.state == \'1\', \'t-color3\': strategy.running_status.state==\'2\'}">
                        <a class="btn w-btn btn-lg p-10 p-b-0"><p class="p-f">量化交易<span>策略状态</span></p>
                            <p>{{ strategy.running_status | strategy_status }}</p></a></div>
                    <div class="col-md-7 p-r-5 p-l-5">
                        <div class="bootstrap-select">
                            <div ng-if="permissions.riskControlPMSN===\'0\'" class="btn w-btn b-color"><span
                                    ng-repeat="account in strategy.accounts">{{account.account_name}}</span></div>
                            <div ng-if="permissions.riskControlPMSN!==\'0\'" class="btn w-btn b-color"
                                 ng-switch="permissions.riskControlPMSN">
                                <div ng-switch-when="1" class="btn-group pull-right">
                                    <button type="button" class="btn btn-success btn-xs active">风控</button>
                                    <button ng-if="strategy.risk_config.enable==true" type="button"
                                            class="btn btn-on btn-xs dropdown-toggle"
                                            ng-click="change_risk_onoff(strategy)">开
                                    </button>
                                    <button ng-if="strategy.risk_config.enable==false" type="button"
                                            class="btn btn-success btn-xs dropdown-toggle active"
                                            ng-click="change_risk_onoff(strategy)">关
                                    </button>
                                </div>
                                <div ng-switch-when="2" class="btn-group pull-right" ng-click="permission_deny()">
                                    <button type="button" class="btn btn-success btn-xs active">风控</button>
                                    <button type="button" class="btn btn-success btn-xs dropdown-toggle active">关
                                    </button>
                                </div>
                                <div ng-switch-when="0" class="btn-group pull-right">
                                    <button type="button" class="btn btn-success btn-xs active">风控</button>
                                    <button type="button" class="btn btn-success btn-xs dropdown-toggle active">关
                                    </button>
                                </div>
                                <div ng-switch-when="1" class="panel-heading-btn pull-left"
                                     ng-switch="strategy.risk_state"><span ng-switch-when="1"><a tooltip-placement="top"
                                                                                                 tooltip="正常状态"
                                                                                                 class="btn btn-xxs btn-icon btn-color"></a> <a
                                        class="btn btn-success btn-xxs btn-icon active"></a> <a
                                        class="btn btn-success btn-xxs btn-icon active"></a></span> <span
                                        ng-switch-when="2"><a class="btn btn-success btn-xxs btn-icon active"></a> <a
                                        tooltip-placement="top" tooltip="禁止开仓状态"
                                        class="btn btn-xxs btn-icon btn-color2"></a> <a
                                        class="btn btn-success btn-xxs btn-icon active"></a></span> <span
                                        ng-switch-when="3"><a class="btn btn-success btn-xxs btn-icon active in"></a> <a
                                        class="btn btn-success btn-xxs btn-icon active in"></a> <a
                                        tooltip-placement="top" tooltip="禁止交易状态"
                                        class="btn btn-xxs btn-icon btn-color3"></a></span> <span
                                        ng-switch-default=""><a class="btn btn-success btn-xxs btn-icon active in"></a> <a
                                        class="btn btn-success btn-xxs btn-icon active in"></a> <a
                                        class="btn btn-success btn-xxs btn-icon active in"></a></span></div>
                                <div ng-switch-when="2" class="panel-heading-btn pull-left"><span><a
                                        class="btn btn-success btn-xxs btn-icon active in"></a> <a
                                        class="btn btn-success btn-xxs btn-icon active in"></a> <a
                                        class="btn btn-success btn-xxs btn-icon active in"></a></span></div>
                            </div>
                        </div>
                        <div class="bootstrap-select">
                            <button type="button" class="btn w-btn dropdown-toggle selectpicker b-color"
                                    ng-class="{\'b-color\': strategy.connected_account>0,\'b-color2\': strategy.connected_account==0}"
                                    data-toggle="dropdown" aria-expanded="false"><span class="filter-option pull-left">绑定账户:{{strategy.accounts.length}}个 连接中:{{strategy.connected_account}}个</span>
                                &nbsp;<span ng-if="strategy.accounts.length>0" class="caret"></span></button>
                            <div class="dropdown-menu open">
                                <ul class="dropdown-menu inner selectpicker" role="menu">
                                    <li ng-repeat="account in strategy.accounts|orderObjectBy:\'account_name\':false">
                                        <a><span class="text">{{account.account_name}}</span><i
                                                class="fa fa-check icon-ok check-mark"
                                                ng-if="account.status.state==2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>