<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">登录交易</h4></div>
    <div class="modal-body">
        <div class="alert alert-warning" ng-if="errors"><i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
            <p>{{ errors }}</p></div>
        <form class="form-horizontal account-form">
            <div class="col-md-12"><h4>确认登录交易账户</h4></div>
            <div class="form-group readonly"><label class="control-label col-md-2">账户名称</label>
                <div class="col-md-10">
                    <div class="form-control readonly col-md-10">{{ account.account_name }}</div>
                </div>
            </div>
            <div class="form-group readonly"><label class="control-label col-md-2">经纪商</label>
                <div class="col-md-10">
                    <div class="form-control readonly">{{ account.broker_name }}</div>
                </div>
            </div>
            <div class="form-group readonly"><label class="control-label col-md-2">交易账号</label>
                <div class="col-md-10">
                    <div class="form-control readonly">{{ account.broker_username }}</div>
                </div>
            </div>
            <div class="form-group readonly"><label class="control-label col-md-2">交易密码:</label>
                <div class="col-md-10"><input class="form-control" name="acc_password" type="password"
                                              ng-model="account.broker_password" placeholder="您的交易密码, 请先确认账户信息填写正确"
                                              required=""></div>
            </div>
            <div class="form-group readonly m-t-5" ng-if="account.broker_channel_id==6"><label
                    class="control-label col-md-2">通讯密码:</label>
                <div class="col-md-10"><input class="form-control" name="acc_captcha" type="password"
                                              ng-model="account.broker_captcha" placeholder="来自券商的通讯密码，若没有则不用填写"
                                              required=""></div>
            </div>
        </form>
    </div>
    <div class="modal-footer"><span ng-if="dataLoading"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
        <button type="button" class="btn btn-success" ng-click="ok()">登录交易</button>
    </div>
</div>