
<div id="sidebar" class="sidebar" ng-controller="sidebarCtrl">
    <div custom-slimscroll="" data-height="100%">
        <ul class="nav">
            <li class="nav-profile">
                <div class="info">{{"开源用户"}}
                    <small ng-if="profile.orginfo.validity_period_tag == 1">永久开源</small>
                </div>
            </li>
        </ul>
        <ul class="nav">
            <!-- <li class="nav-header">策略研究</li>
            <li ui-sref=".backtest" ><a
                    tooltip-placement="right" tooltip="回测"><i class="fa fa-align-left"></i> <span>回测报告</span></a></li> -->
            <li ui-sref="app.sim" ><a
                    tooltip-placement="right" tooltip="模拟交易"><i class="fa fa-th"></i> <span>模拟交易</span></a></li>
            <li   ui-sref="app.strategy" ><a
                    tooltip-placement="right" tooltip="实盘交易"><i class="fa fa-area-chart"></i> <span>实盘交易</span></a></li>
            <li   ui-sref="app.accounts" ><a tooltip-placement="right" tooltip="实盘账户"><i
                    class="fa fa-key"></i> <span>账户接口</span></a></li>
            <li   ui-sref="app.md" ><a tooltip-placement="right" tooltip="实盘账户"><i
                    class="fa fa-key"></i> <span>数据接口</span></a></li>
            <li   ui-sref="app.analysis" ><a tooltip-placement="right" tooltip="信号分析"><i
                    class="fa fa-key"></i> <span>信号分析</span></a></li>
            <!-- -<li  class="nav-header">信号分析</li>
            <li  ui-sref="app.analysis" ><a tooltip-placement="right" tooltip="信号分析"><i
                   class="fa fa-line-chart"></i> <span>信号分析</span></a></li>-->
            <li class="nav-header" >帮助</li>
            <li ui-sref=".help"  ><a tooltip-placement="right" tooltip="文档中心"><i
                    class="fa fa-book"></i> <span>文档中心</span></a></li>
            <li><a class="sidebar-minify-btn" ng-click="sidebar_minify()"><i class="fa fa-angle-double-left"></i></a>
            </li>
        </ul>
    </div>
</div>
