<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
    <div class="modal-content" uib-modal-transclude>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">删除账户</h4></div>
        <div class="modal-body">
            <div class="alert alert-danger m-b-0"><h4>确认删除账户</h4>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">账户名称</div>
                    <div class="col-md-9">{{ acc.name }}</div>
                    <div class="col-md-2 col-md-offset-1">经纪商</div>
                    <div class="col-md-9">{{ acc.brokerName }}</div>
                    <div class="col-md-2 col-md-offset-1">交易账号</div>
                    <div class="col-md-9">{{ acc.brokerAccount }}</div>
                </div>
            </div>
            <div ng-show="errors" class="col-md-10 error-fail"><i class="fa fa-warning text-warning"></i>
                <span>{{ errors }}</span></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="removeAccount(acc)">删除</button>
        </div>
    </div>
</div>
